.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
}

.button {
    margin-top: .5em;
    padding: .5em;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
}

.error_info {
    text-align: left;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: .8em;
    color: #666;
    line-height: 1.5;

}